* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    font-weight: bold;
}


nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    /* color: #38B6FF; */
    color: black;
    padding: 10px 10px
}

p {
    color: #38B6FF;
}

.logo img {
    max-width: 180px;

}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    border-radius: 50%;
}

.btn {
    display: inline-block;
    background-color: #38B6FF;
    color: black;
    margin: 30px 0;
    border-radius: 30px;
    padding: 8px 30px;
}

.btn:hover {
    background: #1a8ed1;
}
.header {
    background: radial-gradient(#fff, #d4ecfa);
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-3 img {
    width: 100%;

}

.col-3 p {
    font-size: 14px;
}

.col-3:hover {
    transform: translateY(-5px);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    text-align: center;
    margin: 0 80px;
    position: relative;
    line-height: 60px;
    color: #1a8ed1;
    text-decoration:underline 3px;
}

.offer {
    background: radial-gradient(#fff, #d4ecfa);
    margin-top: 80px;
    padding: 30px;
}

.col-2 .offer-img {
    padding: 50px;

}

small {
    color: red;
}

.brands {
    margin: 100px auto
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 160px;
    cursor: pointer;
    filter: grayscale(100);
    padding: 24px;
}

.col-5 img:hover {
    filter: grayscale(0);
}

/* Footer */

.footer {
    background: black;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer:p {
    color: #38B6FF;
}

.footer h3 {
    color: white;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
} 


.footer-col-1 {
        flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center; 
}


.footer-col-2 img {
     width: 180px;
     margin-bottom: 20px;
     text-align: center;
}

.footer hr {
    color: #38B6FF;
    background-color: #38B6FF;
    background: none;
    height: 1px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.copyright {
    text-align: center;
    font-size: 14px;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* Media Query  */

@media only screen and (max-width: 800px) {

    nav ul {
        position: absolute;
        top: 70px;
        left: 0px;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: #fff;
        display: block;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}